<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>About</h2>
        <p class="lead">
          We are a free local meetup group of Angular 2+ enthusiasts.
        </p>
        <p class="lead">We're sponsored by Legal and General.</p>
        <p class="lead">
          We hold workshops and discuss current Angular topics.
        </p>
        <p class="lead">
          All levels are welcome. Our members comprise beginners and experts.
        </p>
        <p class="lead">
          We meet at
          <a href="http://www.theskiff.org/" target="_blank">The Skiff</a>
          in Brighton.
          <a href="https://goo.gl/maps/YruwW9Rt1gN2">(Google map)</a>
        </p>
        <p class="lead">
          If you would like to request a topic for us to cover, or even present,
          get in touch.
        </p>
      </div>
    </div>
  </div>
</section>
