<header class="bg-primary text-white" id="home">
  <div class="container text-center">
    <img src="/assets/images/angular-glasses.png" alt="" />
    <h1>Brighton / Worthing<br />Angular 2+ Meetup</h1>
    <p class="lead">
      @Angular2bes - a group for Angular Enthusiasts in Sussex
    </p>
  </div>
</header>

<section id="latest-meetup">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Latest Meetup Notes</h2>
        <p>
          Here is a link to a
          <a
            href="https://docs.google.com/document/d/1-U5ctRAamzOkw3JOQ86eOmHo0KPY7KWzXBBQAMxVadY/edit?usp=sharing"
            target="_blank"
            >Google doc with our latest meetup's raw notes</a
          >, so you can get the latest links and downloads before this site is
          updated.
        </p>
        ­
      </div>
    </div>
  </div>
</section>
