<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Contact</h2>
        <p class="lead">You can contact us all these ways:</p>
        <ul>
          <li>
            Email:
            <a href="mailto:angular2bes@gyrus.consulting"
              >angular2bes@gyrus.consulting</a
            >
          </li>
          <li>
            Twitter:
            <a href="https://twitter.com/Angular2bes">@Angular2bes</a>
          </li>
          <li>
            Or join us,
            <a href="https://www.meetup.com/Brighton-Worthing-Angular2-Meetup/"
              >Brighton / Worthing Angular2+ Meetup</a
            >
            on Meetup.com
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
